# SPDX-FileCopyrightText: 2019 Georg Rudoy <0xd34df00d@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

AlignAfterOpenBracket: Align
AlignTrailingComments: true
BasedOnStyle: WebKit
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterStruct: false
  SplitEmptyRecord: false
BreakAfterAttributes: Always
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: true
DisableFormat: false
FixNamespaceComments: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "^.QXmpp.*"
    Priority: 1
  - Regex: "^\".*\"$"
    Priority: 2
  - Regex: "^<Q(?!Xmpp).*"
    Priority: 3
  - Regex: "^<[^Q].*"
    Priority: 4
InsertBraces: true
Language: Cpp
NamespaceIndentation: None
PointerAlignment: Right
ReflowComments: true
SortIncludes: true
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 2
SpacesInLineCommentPrefix:
  Minimum: 1
