name: tests

on: [push, pull_request]

jobs:

  test:
    runs-on: ${{ matrix.os }}
    env:
      CONFIG: ${{ matrix.config }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        config: [minimal, full, full-debug]
        qt_version: ['5.14.2']
        include:
          - os: ubuntu-latest
            config: full
            qt_version: 5.9
          - os: macos-latest
            config: full
            qt_version: 5.9
    steps:
      - uses: actions/checkout@v2
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: ${{ matrix.qt_version }}
      - name: Install extra packages
        run: tests/travis/install-build-depends
      - name: Disable OS X firewall
        if: matrix.os == 'macos-latest'
        run: |
          sudo /usr/libexec/ApplicationFirewall/socketfilterfw --setglobalstate off
      - name: Run tests
        run: tests/travis/build-and-test
      - uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
